@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #003264;;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #003264;
}



#sidebar ul p {
    color: #003264;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


.btn-toggle{
    border-radius: 20px;
    background: #003264;
    color: #fff;
}
.btn-toggle:hover{
    border: 2px solid #003264;
    border-radius: 20px;
    background: #fff;
    color: #003264;
}

.sidebar-ul{
    margin-top: -40px;
}
.dashboard-logo {
    background: transparent;
    border-color: transparent;
    margin-top: -40px;
    margin-left: 15px;
    width: 180px;
    height: 170px;
}

.project__title{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.table-responsive{
    display: flex;
    background: #ffff;
    padding-left: 230px;
    padding-top: 70px;
    position: static;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
}

.text-center{
    width: 25px;
}

.cell{
    width: 80px;
}

.form-select{
    display: table-cell;
    padding: 0 4px 0 6px;
    border-radius: 8px;
    width: 1px;
    white-space: nowrap;
}
.btn-generate{
    color: #fff;
    border: 2px solid;
    border-radius: 8px;
    background: #003264;
    float: right;
}
.btn-generate:hover{
    color: #003264;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #003264;
}
.btn-search{
    color: #fff;
    border: 2px solid;
    border-radius: 8px;
    background: #003264;
}
.btn-search:hover{
    color: #003264;
    border-radius: 8px;
    background: #fff;
    border: 2px solid #003264;
    
}
.inline__label{
    display: table-cell;
    width: 1px;
    white-space: nowrap;
}
.inline_span{
    display: table-cell;
    padding: 0 4px 0 6px;
}

.badge.bg-success{
    font-size: 12px;
    width: 60px;
    font-family: 'Poppins', sans-serif
}